.root {
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

.s {
  min-width: 18px;
  height: 18px;
  padding: 2px;
}

.m {
  min-width: 32px;
  height: 32px;
  padding: 4px;
}

.l {
  min-width: 48px;
  height: 48px;
  padding: 6px;
}
